
/* COMPATABILITY CODES */
article, aside, figure, figcaption, footer, header, nav, section {
    display:block;
}

/* BASIC */
body {
/*    background-color: white;*/
    font-family: Arial, sans-serif;
    font-size: 11pt;
    font-weight: normal;
}

a:hover { color: red; }

br { clear:both;}


/* HEADERS, TABLES */
h1, h2 { 
    font-family: Arial, sans-serif;
    color: teal;
    margin: .5em;
}

table, th, td { 
    border-bottom: 1px solid #ddd; 
    border-collapse: collapse; 
    padding: .5em; 
    margin: .5em;
}

.align_left { text-align: left;}
.align_right {text-align:right;}

.left {float:left;}
.right {float: right;}


/* FORMS */
label, .labels {
    float: left;
    font-weight: bold;
    margin-bottom: .5em;
    width: 10em;
}

textarea, input[type="text"], input[type="email"] {
    margin: 0 .5em;
    width: 12em;
}